<table>
  <tr>
    <td>
      cardname
    </td>
    <td>
      {{ card.card_name }}
    </td>
  </tr>

  <tr>
    <td>
      card class
    </td>
    <td>
      {{card.klass}}
    </td>
  </tr>
  <tr>
    <td>
      image
    </td>
    <td><img src="{{card.img}}" width="500px"></td>
  </tr>
  <tr>
    <td>
      Description
    </td>
    <td>{{card.card_desc}}</td>
  </tr>
  <tr>
    <td>
      Health
    </td>
    <td>{{card.health}}</td>
  </tr>
  <tr>
    <td>
      water
    </td>
    <td>{{card.water}}</td>
  </tr>
  <tr>
    <td>
      fire
    </td>
    <td>{{card.fire}}</td>
  </tr>
  <tr>
    <td>
      wind
    </td>
    <td>{{card.wind}}</td>
  </tr>
  <tr>
    <td>
      earth
    </td>
    <td>{{card.earth}}</td>
  </tr>
  <tr>
    <td>
      light
    </td>
    <td>{{card.light}}</td>
  </tr>
  <tr>
    <td>
      dark
    </td>
    <td>{{card.dark}}</td>
  </tr>


</table>
